<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="./css/main.css">
        
        
    </head>
    <body>
        {{>header}}
        <h1>{{title}}tcreated by{{name}}</h1>
        <form>
            <input type="search" placeholder="location">
            <button>search</button>
            <p id="msgone"></p>;
            <p id="msgtwo"></p>
        </form>
        <script src="./js/app.js"></script>
    </body>
</html>