<!DOCTYPE html>

<html>
    <head>
        <h1></h1>
        <link rel="stylesheet" href="./css/main.css">
    </head>
    <body>
          {{>header}}
        <img src="./img/jj.jpg">
        <p>this website is created by Shubham Gadhari </p>
        <p>created by {{name}}</p>
        {{>footer}}
    </body>
</html>